<!-- partial -->
<div class="page-content-wrapper">
  <div class="page-content-wrapper-inner">
    <div class="viewport-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb has-arrow">
          <li class="breadcrumb-item">
            <a href="#">Ngô Văn Luân</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Admin</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page" style="color: #0d6efd;">Bảng dữ liệu</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- content viewport ends -->
</div>
<!-- page content ends -->
