<!-- partial:../../partials/_sidebar.html -->
<div class="sidebar">
  <div class="user-profile">
    <div class="display-avatar animated-avatar">
      <img class="profile-img img-lg rounded-circle" src="https://scontent.fhan4-2.fna.fbcdn.net/v/t1.6435-9/125879424_1145135009236375_6567261403625361046_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=OWGIuVoU438AX-IMoYG&_nc_ht=scontent.fhan4-2.fna&oh=00_AfAdp2sUeUL1RubmwcV3u8xYLZ4xNYdJRpQFxB0-Q0q-CQ&oe=63CE1714"
        alt="profile image">
    </div>
    <div class="info-wrapper">
      <p class="user-name">Ngô Văn Luân</p>
      <h6 class="display-income">luancute</h6>
    </div>
  </div>
  <ul class="navigation-menu">
    <li>
      <a  routerLink="/sanpham" routerLinkActive="router-link-active">
        <span class="link-title">Quản lý mỹ phẩm</span>
        <i class="mdi mdi-chart-donut link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/loaisanpham" routerLinkActive="router-link-active">
        <span class="link-title">Quản lý loại mỹ phẩm</span>
        <i class="mdi mdi-chart-donut link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/nhacungcap" routerLinkActive="router-link-active">
        <span class="link-title">Quản lý nhà cung cấp</span>
        <i class="mdi mdi-chart-donut link-icon"></i>
      </a>
    </li>
    <li>
      <a  routerLink="/loaitin" routerLinkActive="router-link-active">
        <span class="link-title">Quản lý loại tin</span>
        <i class="mdi mdi-chart-donut link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/banner" routerLinkActive="router-link-active">
        <span class="link-title">Quản lý banner</span>
        <i class="mdi mdi-chart-donut link-icon"></i>
      </a>
    </li>
    <li>
      <a  routerLink="/khachhang" routerLinkActive="router-link-active">
        <span class="link-title">Quản lý khách hàng</span>
        <i class="mdi mdi-chart-donut link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/donhang" routerLinkActive="router-link-active">
        <span class="link-title">Quản lý đơn hàng</span>
        <i class="mdi mdi-chart-donut link-icon"></i>
      </a>
    </li>
    <li>
      <a routerLink="/chitietdonhang" routerLinkActive="router-link-active">
        <span class="link-title">Quản lý chi tiết đơn hàng</span>
        <i class="mdi mdi-chart-donut link-icon"></i>
      </a>
    </li>
  </ul>
</div>
<!-- partial -->
