<!-- CSS only -->
<div class="content-wrapper" style="
  position: relative;
  top: -669px;
  left: 37px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-xl"
            (click)="addClick()">
            Đơn hàng
          </button>
          <div class="modal fade" id="modal-xl">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{AddEdit}}</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">

                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <app-add-edit-kh [obj]="obj" *ngIf="ActivateAddEdit"></app-add-edit-kh> -->

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{tableName}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <!-- <span>Tìm kiếm:</span><input class="form-control" type="text" name="TENKH" [(ngModel)]="TENKH"
                (ngModelChange)="Search()">
              <br> -->
              <table id="" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th style="    color: white;
                    font-size: 116%;
                    font-weight: 600;
                    background-color: #0d6efd;" class="L1">STT</th>

                    <th style="    color: white;
                    font-size: 116%;
                    font-weight: 600;
                    background-color: #0d6efd;" class="L1">Ngày đặt</th>
                    <th style="    color: white;
                    font-size: 116%;
                    font-weight: 600;
                    background-color: #0d6efd;" class="L1">Tổng tiền</th>

                    <th style="    color: white;
                    font-size: 116%;
                    font-weight: 600;
                    background-color: #0d6efd;" class="L1">Địa chỉ</th>
                    <th style="    color: white;
                     font-size: 116%;
                     font-weight: 600;
                     background-color: #0d6efd;" class="L1">Số điện thoại</th>
                    <th style="    color: white;
                      font-size: 116%;
                      font-weight: 600;
                      background-color: #0d6efd;" class="L1">Tên khách hàng</th>
                    <th style="    color: white;
                    font-size: 116%;
                    font-weight: 600;
                    background-color: #0d6efd;" class="L1">Chi tiết</th>
                      <th style="    color: white;
                      font-size: 116%;
                      font-weight: 600;
                      background-color: #0d6efd;" class="L1">Xóa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let order of listDh | paginate : { itemsPerPage: 10, currentPage: page, totalItems: totalLength}; let i=index">
                    <td style="color: black; font-size:115%; ">{{((page-1)*10)+i+1}}</td>
                    <td style="color: black; font-size:115%; ">{{order.NGAYDAT | date:'medium'}}</td>
                    <td style="color: black; font-size:115%; ">{{order.TONGTIEN |number}} đ</td>

                    <td style="color: black; font-size:115%; ">{{order.DIACHI}}</td>
                    <td style="color: black; font-size:115%; ">(+84) {{order.SDT}}</td>
                    <td style="color: black; font-size:115%; ">{{order.TENKH}}</td>
                    <td>
                      <button class="btn btn-info" (click)="viewDetail(order.DonHangID)">Chi tiết</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="delClick(order.DonHangID, order.TENKH)">Xóa</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
              <hr>
              <pagination-controls previousLabel="Trước" nextLabel="Tiếp" (pageChange)="page = $event">
              </pagination-controls>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
